<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714178415618-51od2e2rkhms8cr7040m4ehr049b24rs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714178415618-51od2e2rkhms8cr7040m4ehr049b24rs</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ0eCK6WfASjqiVhHR5YYmm4GqVndBPUs</string>
	<key>GCM_SENDER_ID</key>
	<string>714178415618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-6324e</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-6324e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714178415618:ios:195c66c7fde85ff8e92b1b</string>
</dict>
</plist>